*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h4{
    color: yellowgreen;
    font-family: Gabarito;
    font-size: 38px;

}
.navmenu{
    text-align: center;
    
} 
.navmenu a{
   font-size: 16px;
   padding: 10px 20px;
   font-weight: 400;
   text-align: center;
   text-decoration: none;
   color: black;
}
.navmenu a:hover{
    color: purple;
}
#nav{
    background: lightgrey;
}
section{
    padding: 5% 10%;
}
.main-home{
    width: 1200px;
    height: 1000px;
    background-image: url(/sony-ps5-console-disc-edition-black-matt-series-vinyl-skin-wrap.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;

}
.main-text h5{
    color: red;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}
h1{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
body {
    margin: 50px;
}
.main-text p{
    color: black;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #111;
    padding: 12px 25px;
}
.div1{
    display: flex;
    text-decoration: none;
}

footer{
    background: black;
}
#h1{
    color: white;
}
